<div>
  example 1

  <table class="table">
    <thead>
      <tr>
        <th><a>address</a></th>
        <th><a>topic</a></th>
        <th><a>homework</a></th>
        <th><a (click)="sortByDate()">date</a></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item.address }}</td>
        <td>{{ item.topic }}</td>
        <td>{{ item.homework }}</td>
        <th scope="row">{{ item.date | date: 'dd.MM.yyyy H:mm' }}</th>
      </tr>
    </tbody>
  </table>
</div>
